.label {
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  border-radius: 3px;
  font-size: .8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  color: $gray;
  background-color: inherit;

}