
.block-views-block-news-block-1 {

  h2 {
    color: #63a500;
  }

  h3 {
    background: #63a500;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    padding: 3px 12px;
  }

  .views-row {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
  }
}

.block-views-block-news-discussed-block-1 {

  h2 {
    color: #63a500
  }

  .views-row {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
  }
}
